:root {
    --colorStandard: white;
    --fontStandard: italic 1rem tahoma;
    --alignCenter: center;
    --contentHeight: 60vh;
    --sizeFull: 100%;
    --sizeMiddle: 50%;
    --sizeMinimal: 3%;
    --marginAuto: auto;
    --marginNone: 0%;
    --bgStandard: #3B8686;
    --bgStandard02: #CFF09E;
    --displayGrid: grid;
    --justifySpaceBetween: space-between;
    --decorationNone: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0%;
    background-color: var(--bgStandard02);
}

.container {
    margin: var(--sizeMinimal);
    height: var(--contentHeight);
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font: var(--fontStandard);
    background-color: var(--bgStandard);
}

.nav--icon {
    margin: var(--sizeMinimal);
}

.nav--options {
    margin: var(--sizeMinimal);
}

.nav--options__item {
    color: var(--colorStandard);
    text-decoration: var(--decorationNone);
}

.nav--details {
    text-align: right;
    margin: var(--sizeMinimal);
}

.nav--details__item {
    color: var(--colorStandard);
}

.slider {
    margin-top: var(--sizeMinimal);
    height: var(--sizeFull);
}

.slider--image {
    width: var(--sizeFull);
    height: var(--sizeFull);
}

.main {
    height: var(--sizeFull);
    background-color: var(--bgStandard);
}

.main--forms {
    display: grid;
    justify-content: var(--alignCenter);
    align-self: center;
    text-align: var(--alignCenter);
}

.main--forms__item {
    margin: var(--sizeMinimal);
}

.section {
    height: var(--sizeFull);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: var(--bgStandard);
}

.section--description {
    display: grid;
    text-align: var(--alignCenter);
    color: var(--colorStandard);
}

.section--img {
    width: var(--sizeFull);
    height: var(--sizeFull);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer--section {
    text-align: var(--alignCenter);
}